.nav {
    height: 80px;
    background-color: rgb(255, 255, 255);
}

.nav__logo__image {
    max-width: 200px;
    max-height: 40px;
}


.tittle__header {
    height: 150px;
    background-color: rgb(255, 255, 255);
}

.card_1 {
    width: 18rem;
    background-color: chartreuse;
}

.link {
    color: rgb(201, 201, 201);
}